<label class="checkbox">
  <input type="checkbox" value="{{id}}" rv-chosen="model:chosen">
</label>
{{label}} - {{description}}
{{#if link_url}}
  <a href="{{link_url}}" target="_blank" class="develop-item-link icon ion-link"></a>
{{/if}}
