<h2 class="title">Register</h2>
<div class="list">
  <label class="item item-input">
    <input type="text" name="first" placeholder="First">
  </label>
  <label class="item item-input">
    <input type="text" name="last" placeholder="Last">
  </label>
  <label class="item item-input">
    <input type="text" name="email" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="text" name="password" placeholder="Password">
  </label>
  <label class="item item-input">
    <input type="text" name="confirm" placeholder="Confirm">
  </label>
</div>
<div class="submit">
  <button class="button button-pink">Register</button>
</div>
<p>By creating an account, I accept the Terms of Use and Privacy Policy.</p>