/**
 * Primary Application Stylesheet
 * 
 * @langversion JavaScript
 * 
 * @author Christopher Pappas
 * @since  Month 00, 2012
 */

// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

#home-view
  margin: 0 auto

html, body, .app, #content {
  height: 100%;
}

.app {
  background-color: black;
}

.colorbg {
  height: auto !important;
  min-height: 100%;
  background: url(../images/colored_wooden_wall-wide.jpg) no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.blackgrad {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(top, 25% rgba(0,0,0,.6), 75% rgba(0,0,0,0));
}

hr {
  margin: 0;
  border-top: none;
  border-bottom: 2px solid rgba(255,255,255,0.5)
}

// ---- Home Page ---
#mentee-list {

  li {
    background-color: rgba(0, 0, 0, 0.85);
    margin: 5px 0px 5px 0px;
    a {
      padding: 2px 10px;
      img { margin-right: 8px; }
    }
  }
  .img-thumbnail { padding: 2px; }
}

// ---- Contact Page ---
 
// TODO: Use media queries to restrict to touch-only devices
*.ui-listview *.ui-btn-up-c,
*.ui-listview *.ui-btn-down-c,
*.ui-listview *.ui-btn-hover-c {
  // Copy your .ui-btn-up styles here */
  border: 1px solid     #ccc
  background:       #eee
  font-weight: bold
  color:          #222
  text-shadow: 0 1px 0 #fff 
  background-image: linear-gradient(top, white, #f1f1f1)
}

// Performance improvements
// TranslateZ(0) Hardware Acceleration Hack for Webkit
.ui-page > div {
  -webkit-transform: translateZ(0);
}

// Widgets
.add-journal
  padding-bottom: 10px
  > .add-journal-ctrls
    visibility: hidden
    opacity: 0
    transition-property: opacity
    transition-duration: 0.7s
  &.selected > .add-journal-ctrls
    visibility: visible
    opacity: 1
    transition-property: opacity
    transition-duration: 0.3s

.journal-notifications .alert
  margin-bottom: 0;
  position: relative;

.wizard a {
    padding: 10px 12px 10px 30px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #007ACC;
    color: #fff;
}
.wizard .current:after {
    border-left-color: #007ACC;
}

.alignr {
  text-align: right;
}
.alignc {
  text-align: center;
}

// ---- Snapshot ---
.assess-question {
  margin: auto
  width: 80%;
  .slide {
    //float: right;
  }
}

.swiper-container, .swiper-slide {
  width: 100%;
  // height: 60%;
}

.pagination-sd {
  text-align: center;
}
.pagination-sd .swiper-pagination-switch {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 3px;
  background: #aaa;
}
.pagination-sd .swiper-active-switch {
  background: #333;
}