/**
 * Primary Application Stylesheet
 * 
 * @langversion JavaScript
 * 
 * @author Christopher Pappas
 * @since  Month 00, 2012
 */

// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box

#home-view
  margin: 0 auto

html, body, .app, #content {
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4 {
  margin: 0;
}

.app {
  background-color: white;
}

.overcome {
  
  height: 100%;
  top: 0;
  z-index: 1;
  padding-right: 0;
  background-color: rgba(255, 255, 255, .90)
  .bar { background-color: rgba(255, 255, 255, 0.4)}
  // z-index: 30
}

.fullpage {
  height: 100%;
}

.colorbg {
  height: auto !important;
  min-height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
  background: url(../images/colored_wooden_wall-wide.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blackgrad {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(top, 25% rgba(0,0,0,.6), 75% rgba(0,0,0,0));
}

hr {
  margin: 0;
  border-top: none;
  border-bottom: 2px solid rgba(255,255,255,0.5)
}

.full-form input, textarea, button {
  margin-bottom:10px;
  width:100%;       
}

#edit-mentee-form {
  padding: 0 10px;
}

// ---- Home Page ---
#mentee-list {
  color: #428bca;
  font-weight: 300;
  font-size: 18pt;
  font-size: 2.5rem;
  flex: 1;
  overflow-y: auto;
  li {
    background-color: rgba(0, 0, 0, 0.85);
    margin: 5px 0px 5px 0px;
    a {
      padding: 0;
      height: 80px;
      line-height: 75px;
      img { margin-right: 8px; }
    }
    a:focus { background-color: inherit }
  }
  .mentee-thumb { height: 80px; width: 80px;}
  .icon-user { width: 80px; display: inline-block; line-height: inherit; text-align: center}
}

// ---- Contact Page ---
 
// TODO: Use media queries to restrict to touch-only devices
*.ui-listview *.ui-btn-up-c,
*.ui-listview *.ui-btn-down-c,
*.ui-listview *.ui-btn-hover-c {
  // Copy your .ui-btn-up styles here */
  border: 1px solid     #ccc
  background:       #eee
  font-weight: bold
  color:          #222
  text-shadow: 0 1px 0 #fff 
  background-image: linear-gradient(top, white, #f1f1f1)
}

.fingerpaint {
  font-family: 'Londrina Shadow', cursive;
}
.logo {
  text-align: center;
  color: #62abea;
  font-size: 60px;
  font-size: 18vw;
}

// Performance improvements
// TranslateZ(0) Hardware Acceleration Hack for Webkit
body > div {
  // -webkit-transform: translateZ(0);
  // -webkit-transform: translate3d(0, 0, 0);
}

// Widgets
.add-journal
  padding-bottom: 10px
  > .add-journal-ctrls
    visibility: hidden
    opacity: 0
    transition-property: opacity
    transition-duration: 0.7s
  &.selected > .add-journal-ctrls
    visibility: visible
    opacity: 1
    transition-property: opacity
    transition-duration: 0.3s

.journal-notifications .alert
  margin-bottom: 0;
  position: relative;

.wizard a {
    padding: 10px 12px 10px 30px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #007ACC;
    color: #fff;
}
.wizard .current:after {
    border-left-color: #007ACC;
}

.alignr {
  text-align: right;
}
.alignc {
  text-align: center;
}

// ---- Snapshot ---
.snapshot-intro {
  background-color: #242424;
  // h1 { color: #d4d4d4}
  background-image: url("../images/helpmeknowyou.jpg")
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  .snapshot-intro-buttons {
    position: absolute; left: 10px; right: 10px; bottom: 0;
    button, a { width: 100% }
  }
}
.snapshot-preinteractive {
  background-color: #242424;
  // h1 { color: #d4d4d4}
  background-image: url("http://www.mobilization.org/wp-content/uploads/2012/08/Slider1.jpg")
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  .promo {
    position: absolute;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -150px;
    font-weight: 800;
    background-color: white;
    color: #333;
    width: 300px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 6rem;
    border-radius: 15px;
  }
  .snapshot-intro-buttons {
    position: absolute; left: 10px; right: 10px; bottom: 0;
    button, a { width: 100% }
  }
}
.snapshot-post-interactive {
  background-color: #242424;
  // h1 { color: #d4d4d4}
  background-image: url("http://www.campusministrytoolbox.org/wp-content/uploads/2013/07/iStock_SI_Candle_000000153399_1-615x190.jpg")
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  .promo {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -200px;
    font-weight: 800;
    background-color: white;
    color: #333;
    width: 400px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
  }
  .snapshot-intro-buttons {
    position: absolute; left: 10px; right: 10px; bottom: 0;
    button, a { width: 100% }
  }
}
.snapshot-active {
  background-color: #242424;
  // h1 { color: #d4d4d4}
  background-image: url("http://www.campusministrytoolbox.org/wp-content/uploads/2010/08/Producing-Disciples-is-No-Substitute-for-Reproducing-Disciples.png")
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  .surveys {
    position: absolute;
    top: 50%;
    margin-top: -10em;
    font-weight: 800;
    width: 100%;
    color: #333;
    text-align: center;
    
  }
  .snapshot-intro-buttons {
    position: absolute; left: 10px; right: 10px; bottom: 0;
    button, a { width: 100% }
  }
}
.survey-progress-btn {
  height: 6em;
  width: 100%;
  background-color: #d2d2d2;
  position: relative
  margin-top: 25px;
  .progress {
    position: absolute;
    height: 6em;
    // margin-top: 25px;
    opacity: .9;
    // width: 50%;
    background-color: #357ebd;
    background-image: url("../images/progress_texture.png")
  }
  span {
    line-height: 6em;
    width: 100%;
    position: relative;
  }
}
.develop-intro {
  background-color: #242424;
  // h1 { color: #d4d4d4}
  background-image: url("http://www.campusministrytoolbox.org/wp-content/uploads/2013/06/cover-pic-615x313.jpg")
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  .snapshot-intro-buttons {
    position: absolute; left: 10px; right: 10px; bottom: 0;
    button, a { width: 100% }
  }
}
#surveyMain { height: 100%; }
.survey {
  background-color: rgba(235, 235, 235, 0.9);
  height: 100%;
  padding: 20px 0;
  padding-bottom: 80px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  .survey-swiper {
    flex: 1
  }
  .pagination-sd { flex: 1 }
  .survey-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    button { width: 180px; }
  }
}
.assess-question {
  margin: auto
  width: 80%;
  .slide {
    //float: right;
  }
}

.swiper-container, .swiper-slide {
  width: 100%;
  height: 100%;
  // height: 60%;
}
.survey-page { 
  background-color: white;
  padding: 15px 10px; 
  margin: 10px 20px; 
  box-shadow: 2px 2px grey;
}

.pagination-sd {
  text-align: center;
}
.pagination-sd .swiper-pagination-switch {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 3px;
  background: #aaa;
}
.pagination-sd .swiper-active-switch {
  background: #333;
}

.journal {
  background-color: rgba(255,255,255,0.9)
}