# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
.idea
nbproject
Thumbs.db
.cordova

# NPM packages folder.
node_modules/
bower_components/

# Brunch folder for temporary files.
public/
www/
tmp/

# Temporary ignores
vendor/styles/cssflow
app/styles/cssflow_and_overrides.scss
vendor/scripts/prefixfree.min.js
app/config/ApplicationConfig.coffee
config.coffee
