<div>
  <div>
    <h5>{{body}}</h5>
    <p>{{dateFormat logged_at format="MMMM Do YYYY, h:mm a"}}</p>
  </div>

  <a class="button button-light" href="#mentees/{{mentee_id}}/journal_entries/{{id}}">Edit</a>
</div>
<hr>