<h2 class="title">Journal</h2>
<div class="list">
	<label class="item item-input">
		<textarea id='add-journal-textarea' placeholder='Tap to add a journal entry' rows='3'></textarea>
	</label>
	<label class="item item-input">
		<input id='add-journal-datetime' placeholder='Date / Time' type='datetime'>
	</label>
</div>
<button class='button button-stable' id='add-journal-btn'>Add <i class='icon-plus-sign'></i></button>
<button class='button button-stable' id='go-back-btn'>Go Back</button>
<ul class='items'></ul>