<div class="snapshot-active">
  <div class="surveys">
    <div class="survey-progress-btn" id="self-assess-btn">
      <div class="progress"></div>
      <span>Assess</span>
    </div>
    <div class="survey-progress-btn" id="explore-btn">
      <div class="progress"></div>
      <span>Explore</span>
    </div>
    <div class="survey-progress-btn" id="observe-btn">
      <div class="progress"></div>
      <span>Observe</span>
    </div>
  </div>
  <div class="snapshot-intro-buttons container">
    <p>
      <a class="btn btn-large btn-primary" href="#mentees/{{mentee_id}}" id="go-back-btn">Go Back</a>
    </p>
  </div>
</div>
