<div class='snapshot-intro'>
  <!-- .promo style="margin-top: 60px; font-weight: 800" -->
  <div class='snapshot-intro-buttons containera'>
    <p>
      <button class='button button-stable' id='start-snapshot-btn'>Start my Self Assessment</button>
    </p>
    <p>
      <a class='button button-stable' href='#mentees/{{mentee_id}}' id='go-back-btn'>Go Back</a>
    </p>
  </div>
</div>
<div class='info' style='display: none'>
  <h2>SnapShot</h2>
  <p>Welcome to Snapshot, an easy way to evaluate your mentee at a point in time and discover how you can best develop them to be more of the person God created them to be.</p>
  <p>There are 3 parts to SnapShot:</p>
  <ul>
    <li>A self assessment the mentee performs</li>
    <li>An interactive part you do together</li>
    <li>An ongoing observation part that allows you to note new things as you learn them.</li>
  </ul>
  <p>Complete each section as completely in as little time as possible. 2-3 meeting should allow you to fill out most information.</p>
  <p>After you have filled in the information, you can view your results on the SnapShot Summary quickly and easily to help you remember key information about your mentee. We would recommend doing this before each meeting the first month or two.</p>
  <p>This information will feed your Develop Plan in the next section. You now have a SnapShot of your mentee. Update this at least once per year.</p>
  <h3>Now hand your device over to your student and have them take the self assessment</h3>
</div>
