<div class="snapshot-post-interactive">
  <div class="promo">
    <p>You are done with the interactive portion of Snapshot!</p>
    <p>Just remember to talk about a few of these topics with your student:</p>
    <ul>
      <li>Spiritual Journey</li>
      <li>Strengths, Passions</li>
    </ul>
  </div>
  <div class="snapshot-intro-buttons.container">
    <p>
      <a id="go-back-btn" class="btn btn-large btn-primary" href="#mentees/{{mentee_id}}">Sounds good!</a>
    </p>
  </div>
</div>