<div class="snapshot-preinteractive">
  <div class="promo">Q & A</div>

  <div class="snapshot-intro-buttons.container">
    <p>
      <button id="start-snapshot-btn" class="button button-stable">Start Interactive Quiz</button>
    </p>
    <p>
      <a id="go-back-btn" class="button button-stable" href="#mentees/{{mentee_id}}">Go Back</a>
    </p>
  </div>
</div>