<div class="snapshot-preinteractive">
  <div class="promo">Q & A</div>

  <div class="snapshot-intro-buttons.container">
    <p>
      <button id="start-snapshot-btn" class="btn btn-large btn-primary">Start Interactive Quiz</button>
    </p>
    <p>
      <a id="go-back-btn" class="btn btn-large btn-default" href="#mentees/{{mentee_id}}">Go Back</a>
    </p>
  </div>
</div>