<h2 class="title">Journal</h2>
<div id="entry-container"></div>
<div class="journal-bottom">
  <div class="journal-footer">
    <button id="new-entry" class="button button-pink">New Entry</button>
  </div>
</div>