<div>
  <div>
    <h5>{{body}}</h5>
    <p>{{dateFormat logged_at format="MMMM Do YYYY, h:mm a"}}</p>
  </div>

  <button id="edit-entry" class="button button-light">Edit</button>
  <button id="delete-entry" class="button button-light">Delete</button>
</div>
<hr>