<div class="develop-intro promo" style="margin-top: 60px; font-weight: 800">

  <div class="snapshot-intro-buttons containera">
    <p>
      <button id="start-develop-btn" class="btn btn-large btn-primary">Start Develop</button>
    </p>
    <p>
      <a id="go-back-btn" class="btn btn-large btn-default" href="#mentees/{{mentee_id}}">Go Back</a>
    </p>
  </div>
    
</div>