<div class="develop-intro promo" style="margin-top: 60px; font-weight: 800">

  <div class="snapshot-intro-buttons containera">
    <p>
      <button id="start-develop-btn" class="button button-stable">Start Develop</button>
    </p>
    <p>
      <a id="go-back-btn" class="button button-stable" href="#mentees/{{mentee_id}}">Go Back</a>
    </p>
  </div>
    
</div>