    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">Home</a>
      </div>
    </div>

<input class="span12" type="text" name="name" id="name" data-value="mentee.name" placeholder="Name" />

<div class="row-fluid">
  
  <input class="span6" type="text" name="major" id="major" placeholder="Major" />
  <input class="span6" type="date" name="birth_date" id="birth_date" />
</div>

<input class="span12" type="email" name="email" id="email" value="" placeholder="Email"/>

<input class="span12" type="tel" name="phone" id="phone" placeholder="Phone" />