    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">Home</a>
      </div>
    </div>

<input class="span12" type="text" name="name" id="name" data-value="mentee.name" placeholder="Name" />

<div class="row-fluid">
  
  <input class="span6" type="text" placeholder="Major" />
  <input class="span6" type="date" />
</div>

<input class="span12" type="email" value="" placeholder="Email"/>

<input class="span12" type="tel" placeholder="Phone" />