
<label for="name" class="ui-hidden-accessible">Username:</label>
<input type="text" name="name" id="name" value="" placeholder="Name"/>

<label for="email" class="ui-hidden-accessible">Email:</label>