<!--
	Author: 
	Date: 

	Description: Template Description
-->

<!--<div id="content">
  <div id="name">{{content}}</div>
</div>-->


<div data-role="content">	
    
  <div style="width: 100%; height: 80px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
                <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px">
            </div>
    <hr/>
    <h4>
        A new way to develop others
    </h4>
    <div id="mentee-list">
    </div>
    <!-- <ul data-role="listview" data-inset="true" data-filter="true">
                  <li><a href="#">Acura</a></li>
                  <li><a href="#">Audi</a></li>
                  <li><a href="#">BMW</a></li>
                  <li><a href="#">Cadillac</a></li>
                  <li><a href="#">Ferrari</a></li>
                </ul> -->
			
</div><!-- /content -->