<h2 class="title">Journal</h2>
<div class="list">
  <label class="item item-input">
    <textarea id='add-journal-textarea' placeholder='Tap to add a journal entry' rv-value="model:body" name="body" rows='3'></textarea>
  </label>
  <label class="item item-input">
    <input type="datetime-local" name="logged_at" placeholder="Journal Log Date" rv-value="model:logged_at">
  </label>
</div>
<div class="submit">
  <button class='button button-pink'>Save</button>
</div>