/* === SHARED STYLES === */

$font-stack: $helvetica;
$text-color: white;

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=6d7e9655-4cf5-4c62-b8db-59d583cbaddf");
@font-face{
font-family:"Helvetica W02 Roman";
src:url("../fonts/helvetica/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix");
src:url("../fonts/helvetica/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix") format("eot"),url("../fonts/helvetica/b56b944e-bbe0-4450-a241-de2125d3e682.woff") format("woff"),url("../fonts/helvetica/7da02f05-ae8b-43a1-aeb9-83b3c0527c06.ttf") format("truetype"),url("../fonts/helvetica/66cac56e-d017-4544-9d0c-f7d978f0c5c2.svg#66cac56e-d017-4544-9d0c-f7d978f0c5c2") format("svg");
}
@font-face{
font-family:"Helvetica W01 Bold";
src:url("../fonts/helvetica/f70da45a-a05c-490c-ad62-7db4894b012a.eot?#iefix");
src:url("../fonts/helvetica/f70da45a-a05c-490c-ad62-7db4894b012a.eot?#iefix") format("eot"),url("../fonts/helvetica/c5749443-93da-4592-b794-42f28d62ef72.woff") format("woff"),url("../fonts/helvetica/73805f15-38e4-4fb7-8a08-d56bf29b483b.ttf") format("truetype"),url("../fonts/helvetica/874bbc4a-0091-49f0-93ef-ea4e69c3cc7a.svg#874bbc4a-0091-49f0-93ef-ea4e69c3cc7a") format("svg");
}
@font-face{
font-family:"Helvetica W01 Light";
src:url("../fonts/helvetica/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix");
src:url("../fonts/helvetica/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix") format("eot"),url("../fonts/helvetica/03805817-4611-4dbc-8c65-0f73031c3973.woff") format("woff"),url("../fonts/helvetica/d5f9f72d-afb7-4c57-8348-b4bdac42edbb.ttf") format("truetype"),url("../fonts/helvetica/05ad458f-263b-413f-b054-6001a987ff3e.svg#05ad458f-263b-413f-b054-6001a987ff3e") format("svg");
}

body{
  font: 100% $font-stack;
  color: $text-color;
  font-family: "Helvetica W02 Roman";
}

html, body, .app, {
  height: 100%;
  overflow: hidden;
}

#content {
  overflow: hidden;
}

h1, h2, h3, h4, p {
  margin: 0;
  color: $text-color;
}

h1, h2 {
  font-family: "Helvetica W01 Light";
}

hr {
  margin: 0;
  border-top: none;
  border-bottom: 2px solid rgba(255,255,255,0.5)
}

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
  box-sizing: border-box
}

.assess-question {
  .slide {
    float: right;
  }
}
a {
  color: inherit;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.colorbg {
  height: auto !important;
  min-height: 100%;
  width: 100%;
  position: absolute;
  // opacity: 0.5;
  background: url(../images/background.png) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.full-form input, textarea, button {
  margin-bottom: rem(10);
  width:100%;
}

// Performance improvements
// TranslateZ(0) Hardware Acceleration Hack for Webkit
body > div {
  // -webkit-transform: translateZ(0);
  // -webkit-transform: translate3d(0, 0, 0);
}

.alignc {
  text-align: center;
}

.snapshot-intro {
  background-color: #242424;
  // h1 { color: #d4d4d4}
  background-image: url("../images/helpmeknowyou.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: rem(15);
  padding: rem(10);
  position: absolute;
  top: rem(10);
  left: rem(10);
  right: rem(10);
  bottom: rem(10);
  .snapshot-intro-buttons {
    position: absolute; left: rem(10); right: rem(10); bottom: 0;
    button, a { width: 100% }
  }
}

.with-header {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0; 
  right: 0;
  margin-top: rem(44);
  padding: 0 rem(12);
}

.button-pink {
  background-color: #EC008C;
  border-color: #FFF;
  color: $text-color;
  width: rem(165);
}

/* Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}