/* === SURVEY === */

.fullpage {
  height: 100%;
}

#surveyMain { 
  height: 100%; 
}

.survey {
  height: 100%;
  padding-bottom: rem(60);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  .survey-swiper {
    flex: 1
  }
  .pagination-sd { 
    flex: 1 
  }

  .range-input-container {
    position: relative;

    .range-one {
      position: absolute;
      left: 0;
      bottom: rem(7);
    }
    .range-ten {
      position: absolute;
      right: 0;
      bottom: rem(7);
    }
  }

  .survey-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(60);
    padding-top: rem(10);
  }
  .survey-footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    button { 
      width: rem(165); 
      margin: 0 auto;
      display: block;
      min-height: rem(35);
      height: rem(35);
      line-height: rem(34);
      border-radius: rem(0);
    }
  }
  .item-input {
    padding: rem(5);
  }
}

.assess-question {
  margin: auto;
  width: 80%;
  .slide {
    //float: right;
  }
}

.swiper-container, .swiper-slide {
  width: 100%;
  height: 85%;
  // height: 60%;
}

.pagination-sd {
  text-align: center;
}
.pagination-sd .swiper-pagination-switch {
  border-radius: rem(5);
  width: rem(5);
  height: rem(5);
  display: inline-block;
  margin: 0 rem(5);
  background: #aaa;
}
.pagination-sd .swiper-active-switch {
  background: #EC008C;
}