/* === VARIABLES === */
/* - IONIC COLORS - */
$assertive: #ec008c;

$item-dark-active-bg: #333333;
$item-dark-bg: transparent;

$button-dark-border: #333;

/* - IONIC BARS - */
$bar-transparency: 0;

/* - IONIC Checkboxes - */
$checkbox-border-radius: 0;
$checkbox-off-bg-color: transparent;
$checkbox-off-border-default: white;