<div id="{{name}}" class="menuitem row">
  <img src="images/indicator.png">
  <div class="mentee-info">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
  </div>
  <div>
    <p class="progress">{{progress}}</p>
  </div>
</div>