<div class="menucategory accordion-heading row">
    <img src="images/snapshot.png">
    <h2 class="accordion-toggle">{{name}}</h2>
</div>

<div class="accordion-body">
    <div class="accordion-inner">
    </div>
</div>