<div id="{{name}}" class="menuitem row">
    <div class="col col-80">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
    </div>
    <div class="col">
        <p class="progress">{{progress}}</p>
    </div>
</div>