<!-- sample header -->
<div class="logo">Sign Out<i class="icon ion-ios7-information-outline" style="float: right"></i><i class="icon ion-ios7-plus-empty" style="float: right"></i></div>
<div id="show-mentees-layout">
    <div id="banner-region"></div>
    <section>
        <div id="menu-region"></div>
    </section>
</div>