<div class="accordion-heading">
    <i class="{{ icon }}"></i>
    <a class="accordion-toggle collapsed" data-toggle="collapse" href="#hero<%= id %>">{{name}}</a>
</div>

<div id="hero<%= id %>" class="accordion-body collapse" style="height: 0px;">
    <div class="accordion-inner">
        <ul>
        </ul>
    </div>
</div>