<div class="plan-item">
  <div class="plan-item-title">
    <h2>{{label}} <i class="accordion-toggle icon ion-plus pull-right"></i></h2>
  </div>
  <div class="accordion-body">
    <div class="plan-item-description"
      <p>{{description}}</p>
    </div>
  </div>
</div>