<div class="survey-page">
  <p class="lead">{{title}}</p>
  {{! Form required for backbone.syphon serialization }}
  <form>
  <ul>
  {{#each questions}}
    <li>{{body}} <input type="range" min="1" max="10" step="1" name="questions[{{id}}]"></li>
  {{/each}}
  </ul>
  </form>
</div>