<div class="survey-page">
  <p class="lead">{{body}}</p>
  <form class="swiper-no-swiping">
  	<div class="list">
  		<label class="item item-input">
	    	<textarea name="questions[{{id}}]"></textarea>		
	  	</label>
  	</div>
  </form>
</div>