<div class="survey {{title}}">
    <div class="text-center" style="font-size: 3rem">
        <h2 class="title">{{title}}</h2>
    </div>

    <div class="survey-swiper swiper-container">
        <div class="swiper-wrapper"></div>
    </div>

    <div class="pagination-sd pagination1"></div>

    <div class="survey-bottom">
      <div class="survey-footer">
        <button class="save-n-close-btn button button-pink">Save &amp; Close</button>
      </div>
    </div>
</div>

