<div class="text-center" style="font-size: 3rem">
  <i class="icon icon-list text-center"></i>
  <span style="margin: 0 10px">Lifelist</span>
</div>
<div class="lifelistCategories"></div>
<button class="btn-large btn-primary" id="save-lifelist">Save Lifelist</button>
