#develop-swiper {
  height: 100%;
  width: 100%;

  .swiper-wrapper {
    height: 100%;
    width: 100%;
  }

  .swiper-slide {
    height: 100%;
    width: 100%;
  }

  .scroll-content {
    height: inherit;
    width: inherit;
    position: relative
  }

  #items-region{
    .plan-item {

      text-align: center;

      p {
        color: #FFF;
      }

      .plan-item-title {
        width: 50%;
        margin: 0 auto
      }

      .plan-item-description {
      }
    }
  }
}

#accordion-region {
  height: 100%
}

.pagination-sd {
  text-align: center;
}

.pagination-sd .swiper-pagination-switch {
  border-radius: rem(5);
  width: rem(5);
  height: rem(5);
  display: inline-block;
  margin: 0 rem(5);
}

.category-bar {
  background-color: black;
  height: $bar-height;
  line-height: $bar-height;
  margin: 3px 0 0 0;
  h3 { line-height: inherit }
}

.develop-item-link {
  font-size: rem(20);
  line-height: rem(20);
}

