// Refactor into header
.nav-header {
  // @extend .bar
  // @extend .bar-header
  // @extend .bar-dark
  
  // height: rem(45);
  // line-height: rem(45);
  // margin: 0 rem(12) 0 rem(12);

  // color: white;
  // font-size: rem(12);
  border-bottom: rem(2) #333333 solid;


  // i { font-size: rem(28); color: white; padding-left: 20px; }
  // i:hover { color: #00ACD6; }
}