/* === JOURNAL === */

#journal-region .list {
  margin-left: rem(10);
  margin-right: rem(10);

  color: #FFF;

  .item {
    border: 0;
    border-bottom: rem(1) #333 solid;
    padding: 0;

    .entry-container {
      float: left;
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #delete-entry {
      margin: 0;
      float: right;
      border: 0;
      width: rem(75);
      height: 100%;
    }
  }
  .journal-bottom {
    position: absolute;
    bottom: 1;
    left: 0;
    width: 100%;
    height: rem(60);
    padding-top: rem(10);
  }
  .journal-footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    button { 
      width: rem(165); 
      margin: 0 auto;
      display: block;
      min-height: rem(35);
      height: rem(35);
      line-height: rem(34);
      border-radius: rem(0);
    }
  }
}

// Widgets
.add-journal {
  padding-bottom: 10px;
  > .add-journal-ctrls {
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.7s;
  }
  &.selected > .add-journal-ctrls {
    visibility: visible;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
  }
}

.journal-notifications .alert {
  margin-bottom: 0;
  position: relative;
}