/* === MENTEE LIST === */

// ---- Home Page ---
#mentee-list {
  div.list { 
    margin: 0 rem(12) 0 rem(12);
  }
}

.item.mentee {
  padding-top: rem(10);
  padding-bottom: rem(10);
  border: 0;
  border-bottom: rem(1) #333 solid;

  &:last-child { border: 0 }
}
.icon-user {
  @extend .item-image;
  line-height: rem(80);
  font-size: rem(48);
}
.icon-user, .item-thumbnail-left img {
  border: rem(1) white solid;
}