/* === MENTEE HOME === */

#show-mentees-layout {
  h2 {
    font-size: rem(24);
  }
  p {
    font-size: rem(14);
  }
}

// Top Banner
#banner {
  .mentee {
    p {
      color: #FFF;
    }
  }

  .mentee-info {
    width: rem(150);
    float: left;
  }

  .edit-delete-buttons {
    float: right;
    width: rem(50);
    text-align: right;
  }
}

// Accordian
.accordion, .menucategory {
  cursor: pointer;
}

.accordion-group {
  margin-bottom: rem(2);
}

.accordion-heading {
  &.row {
    height: rem(62);
    padding-left: rem(22);
    padding-top: rem(12);
  }
  .accordion-toggle {
    display: block;
    padding-left: rem(18);
    font-weight: 300;
  }
  img {
    max-width: rem(38);
    max-height: rem(38);
  }
}

.accordion-inner {

  .menuitem.row {
    .col {
      padding-left: 0;
    }

    img {
      height: rem(6);
      margin-top: rem(30);
      margin-right: rem(17);
    }

    padding-left: rem(55);

    border-bottom: 1px solid #000;
  }

  padding: rem(0) rem(15) rem(9) rem(0);
}

.accordion-body {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.active .accordion-body {
  height: auto;
}

.progress {
  border: 1px solid #e5e5e5;
  padding: rem(10);
  width: rem(80);
  float: right;
}

$section-bkgrnd-color: black;
.menucategory { background-color: $section-bkgrnd-color; }

#menu-inner {
  margin: 0 rem(12) 0 rem(12);
}

#menu-region {
  // Refactor to use header variable heights
  .scroll-content {
    top: rem(144);
  }
}

.contact-head {
  vertical-align: middle;
  i { 
    vertical-align: middle; 
  }

  // transition: all 0.4s linear;

  transition: height 0.4s ease, top 0.2s linear;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);

  // padding: 10px;
  // padding-left: 20px;
  padding-right: 10px;
  height: 80px;
  // line-height: 56px;
  width: 100%;

  position: absolute;
  left: 0;
  top: 15px;

  background-color: rgba(255, 255, 255, 0.75);


  .bar {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20pt;
    font-size: 2.8rem;
    line-height: 73px;
    .icon-user {padding-left: 10px;}
  }



  // -webkit-filter: blur(5px);
  // -moz-filter: blur(2px);
  // -o-filter: blur(2px);
  // -ms-filter: blur(2px);
  // filter: blur(2px);

  .profile-pic {
    height: 80px;
    width: 80px;
    // border: 2px solid grey;
    // border-radius: 10px;
  }

  .name {
    vertical-align: middle;
    margin-left: 18px;
  }

  .details {
    line-height: 80px;
  }

}

#mentee-action-list {
  height: 100%;
  .row {
    height: 100px;
    .col {
      height: 100%;
    }
  }
  .item {
    @extend .item;
    height: 85px;
  }
}

a.profilebtn {
  background-color: #ee9536;
  box-shadow: rem(2) rem(2) #c17728;
  color: white;
  height: rem(95);
  width: rem(95);
  position: absolute;
  top: 50%;
  margin-top: rem(-47);
  left: 50%;
  margin-left: rem(-47);

  transition: background-color 0.9s ease 0.3s;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

  * {
    pointer-events: none;
  }

  .mainicon {
    line-height: rem(95);
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    i {
      line-height: rem(95);
    }
    .icon-stack {
      position: static;
    }
  }
  .profilebtn-title {
    position: absolute;
    bottom: rem(0);
    left: rem(5);
    font-family: 'Open Sans';
    font-weight: 400;
  }

  .ribbon {
    width: 100%;
    background-color: green;
    box-shadow: rem(2) rem(0) #006500;
    padding: rem(3);
    position: absolute;
    font-weight: 600;
  }
  .progressbar {
    background-color: white;
    height: 100%;
    width: rem(5);
    right: rem(-2);
    // box-shadow: 2px 2px rgba(255, 255, 255, 0.6);
    position: absolute;

    .fill {
      transition: height 0.9s ease .3s;
      transform: translate3d(0, 0, 0);
      width: rem(5);
      background-color: #3fa1e0;
      // box-shadow: 2px 2px rgba(63, 161, 224, 0.5);
      position: absolute;
      bottom: 0;
    }
  }
}
// #journalBtn a.profilebtn {
//   background-color: #333333;
//   box-shadow: 2px 2px #222222;
// }
a.profilebtn.untapped, a.profilebtn.active, a.profilebtn.active-selfassess,
a.profilebtn.active-pre-interactivequiz, a.profilebtn.active-interactivequiz {
  background-color: #333333;
  box-shadow: rem(2) rem(2) #222222;
}
a.profilebtn.disabled {
  // pointer-events: none;
  background-color: #333333;
  box-shadow: rem(2) rem(2) #222222;
  opacity: 0.9;
}
a.profilebtn:active {
  box-shadow: none;
  margin-top: rem(-45);
  margin-left: rem(-45);
  .progressbar {
    right: rem(0);
  }
  .ribbon {
    box-shadow: none;
  }
}
// Button inset shadow
a.profilebtn:active:before {
  content: '';
  display: block;
  box-shadow: inset rem(1) rem(1) rem(3) rem(2) rgba(0, 0, 0, 0.75);
  position: absolute;
  pointer-events: none;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overcome {
  height: 100%;
  top: 0;
  z-index: 3;
  padding-right: 0;
  background-color: rgba(255, 255, 255, .90);
  .bar { 
    background-color: rgba(255, 255, 255, 0.4);
  }
  // z-index: 30
}

