<div class="pagination-sd"></div>
<div id="develop-swiper" class="swiper-container">
  <div class="swiper-wrapper">
    <div id="lifelist-region" class="swiper-slide"></div>
    <div id="steps-region" class="swiper-slide"></div>
    <div id="plan-region" class="swiper-slide"></div>
  </div>
</div>