<div id="title-container">
  <h2>mentor me</h2>
  <p class="sub-title">A new way to develop others</p>
</div>
<div id="button-container">
  <button id="register-button" class="button button-white">Register</button>
  <button id="login-button" class="button button-white">Login</button>
  <p>Forgot your password?</p>
</div>