<div>
  <h2>mentor me</h2>
  <p>Pasta ipsum dolor sit amet radiatori quadrefiore pastina tortelloni gemelli spaghetti</p>
</div>
<div class="button-container">
  <button id="register-button">Register</button>
  <button id="login-button">Login</button>
  <p>Forgot your password?</p>
</div>