<header class="nav-header bar bar-header bar-dark">
  <div id="nav-left-buttons" class="buttons">
  </div>
  <div id="nav-right-buttons" class="buttons pull-right">
  </div>
</header>

{{!-- <div class="logo">Sign Out<i class="icon ion-ios7-information-outline" style="float: right"></i><i class="icon ion-ios7-plus-empty" style="float: right"></i --}}