<h2 class="title">Login</h2>
<div class="list">
  <label class="item item-input">
    <input type="text" name="email" placeholder="Email">
  </label>
  <label class="item item-input">
    <input type="text" name="password"  placeholder="Password">
  </label>
</div>
<div class="submit">
  <button class="button button-pink">Login</button>
</div>