<form class="full-form" id="edit-mentee-form">
  <input data-value="mentee.name" placeholder="Name" type="text">
  <!-- label Birth Date -->
  <input data-value="mentee.birth_date" type="date">
  <input data-value="mentee.major" placeholder="Major" type="text">
  <input data-value="mentee.email" placeholder="Email" type="email">
  <input data-value="mentee.phone" id="phone" placeholder="Phone" type="tel">
  <div class="control-group">
    <div class="controls center">
      <input class="btn btn-primary" data-saving-text="Saving..." id="edit-mentee-save-btn" type="submit" value="Save">
      <button class="btn" id="edit-mentee-cancel-btn" type="cancel">Cancel</button>
    </div>
  </div>
</form>
