<a href="#mentees/{{id}}">
  {{#if avatar_mobile_url}}
    <img src="{{avatar_mobile_url}}" class="mentee-thumb" />
  {{else}}
    <i class="icon-user" style="display: inline-block"></i>
  {{/if}}
  {{name}}
</a>