<div class="navbar-fixed-bottom">
  <ul class="nav nav-pills nav-justified">
    <li>
      <a href="#">
        <i class="icon-home">Home</i>
      </a>
    </li>
    <li class="active">
      <a href="#">
        <i class="icon-user">Contacts</i>
      </a>
    </li>
    <li>
      <a href="#mentees/{{id}}/tools">
        <i class="icon-wrench">Tools</i>
      </a>
    </li>
    <li>
      <a>
        <i class="icon-cog">Settings</i>
      </a>
    </li>
  </ul>
</div>