<h1>LifeList</h1>
<p>Check the skills or converation items that would bless this student over the next several years. What would you like for them look like when they leave your ministry?</p>
<ul class="unstyled">
  {{#each questions}}
  <li>
    <label class="checkbox">
      <input type="checkbox">
      {{body}}
    </label>
  </li>
  {{/each}}
</ul>
{{> navigation}}
