 <div class="modal-body">
  <form id="login-form">
    <input type="email" data-value="userSession.email" />
    <input type="password" data-value="userSession.password" />
    <button class="button button-stable" id="login-submit" type="submit">Sign In</button>
  </form>
</div>