{{!-- <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar> --}}
<div class="contact-head" style="overflow: hidden;">
  <div class="bar">
    <!--Profile Pic-->
    {{#if avatar_mobile_url}}
      <img class="profile-pic" data-src="mentee.avatar_mobile_url" src={{avatar_mobile_url}}>
    {{else}}
      <i class="icon-user" style="display: inline-block"></i>
    {{/if}}
    <span class="name" data-text="mentee.name">{{name}}</span>
    <a class="details pull-right">
      <i class="icon-edit"></i>
    </a>
  </div>
  <br>
  <div id="edit-mentee"></div>
</div>
<div style="padding-top:100px; z-index: 1;">
  <ul class="list" id="mentee-action-list">
    <li class="item" id="snapshotBtn">Snapshot</li>
    <li class="item" id="selfassessBtn">Self Assess</li>
    <li class="item" id="interviewBtn">Interview</li>
    <li class="item" id="observationsBtn">Observations</li>
    <li class="item" id="developBtn">Develop</li>
    <li class="item" id="lifelistBtn">Life List</li>
    <li class="item" id="planBtn">Plan</li>
    <li class="item" id="journalBtn">Journal</li>
    <li class="item" id="contactsBtn">Contacts</li>
  </ul>
</div>