<p class="lead">Here you can find some tracks/tools for you as you love on, care for, equip, and challenge students in their relationship with Christ. We hope this helps you go deeper with your students so that they have the vision, heart, character, skills to lead for Christ the rest of thier lives.</p>

<p> SnapShot- will help you gauge where your student is at so that you might help them take their next steps. Before you need to know where to go, you must first determine where you are at.</p>

<p>Develop!- will help you be more intentional and thoughful about how you are helping your students grow and develop by asking key questions about how you can come alongside them.</p>

<p>LifeList- is a simple list of ministry skills, life skills, and critical conversations you might want to have with your students during the few years you get to guide them.  It give you the categories and lets you customize it for you ministry and student.</p>

<a class="btn btn-large" href="#mentees/{{id}}/snapshot">Snapshot</a>
<a class="btn btn-large" href="#mentees/{{id}}/develop">Develop</a>
<a class="btn btn-large" href="#mentees/{{id}}/lifelist">LifeList</a>

{{> navigation}}